<div class="header-inicial">
    <div class="company">
        <img src="./assets/logo-reduzido.png" class="logo-img">
        <p class="cia-name">Skillz</p>
    </div>
    <div class="pages">
        <a href="#" (click)="clicked = !clicked" [ngClass]="{'pg-link': true, 'sublinhado': clicked}"> Meus projetos</a>
        <a href="#" class="pg-link">Comunidade</a>
        <a href="#" class="pg-link">Planos</a>
    </div>
    <div class="search-bar">
        <form action="#" method="post">
            <input type="text" class="search-box-input lupa" name="busca" placeholder="Encontre o projeto ideal">
        </form>
    </div>
    <div>
        <a href=""><img class="usr-img" src="../../assets/profile-user 1.png" alt=""></a>
    </div>
</div>