<div class="header">
    <img src="./assets/logo-reduzido.png" class="logo-img">
    <p class="cia-name">Skillz</p>
</div>
<div class="body">
    <div class="box">
        <div class="content">
            <div class="title">
                <h1>Acesse a sua conta</h1>
                <span>Desenvolva suas habilidades para o presente e garanta seu futuro no mercado de amanhã.</span>
                <hr>
            </div>
            <div class="login-form">
                <form action="#">
                    <input class="inpt-email" type="email" placeholder="E-mail"><br>
                    <input type="password" placeholder="Senha"><br>
                    <a class="fgt-password" href="#">Esqueci a senha</a><br>
                    <div class="btn">
                        <button class="submit-button" type="submit">Entrar</button>
                    </div>
                </form>
            </div>
            <div>
                <p class="crt-account">Ainda não tem conta?  <a class="crt-account bold" href="#"> Cadastre-se agora.</a></p>
            </div>
        </div>
    </div>
</div>