<app-header></app-header>
<div class="body">
    <div>
        <img src="../../assets/tech-user-coding-woman.png" alt="">
    </div>
    <div class="content">
        <h1>Desafio da Comunidade</h1>
        <p>Após uma invasão ética, a empresa WXYZ identificou vulnerabilidades críticas no sistema. Sua missão: propor soluções para fortalecer a segurança. Acesse o relatório e instruções no PDF, reproduza as falhas em uma máquina virtual e desenvolva estratégias de proteção. Sua ação contribuirá para um ambiente digital mais seguro. Este case destaca a importância da segurança cibernética na proteção das operações da empresa.</p>
        <div class="btn">
            <button class="dwn-btn">baixar arquivos</button>
            <button class="send-btn">enviar solução</button>
        </div>
    </div>
</div>