<app-header></app-header>
<div class="body">
    <div>
        <h1>Meus projetos</h1>
        <hr>
    </div>
    <div class="content">
        <div class="box">
            <div class="img-bg">
                <img class="clg-img" src="../../assets/logo-responsivo1.png" alt="">
            </div>
            <div class="description">
                <h2>Desafio de Lógica FECAP</h2>
                <p>Em parceria com a FECAP, resolva o desafio para concorrer a uma bolsa de estudos de até 100%</p>
                <button>Continuar</button>
            </div>
        </div>

        <div class="box">
            <div class="img-bg">
                <img class="clg-img" src="../../assets/logo-responsivo1.png" alt="">
            </div>
            <div class="description">
                <h2>Desafio de Lógica FECAP</h2>
                <p>Em parceria com a FECAP, resolva o desafio para concorrer a uma bolsa de estudos de até 100%</p>
                <button>Continuar</button>
            </div>
        </div>

        <div class="box">
            <div class="img-bg">
                <img class="clg-img" src="../../assets/logo-responsivo1.png" alt="">
            </div>
            <div class="description">
                <h2>Desafio de Lógica FECAP</h2>
                <p>Em parceria com a FECAP, resolva o desafio para concorrer a uma bolsa de estudos de até 100%</p>
                <button>Continuar</button>
            </div>
        </div>
    </div>
</div>