<app-header></app-header>
<div class="body">
    <div class="title">
        <h1>Otimize o seu aprendizado</h1>
        <p class="first-description">Na nossa plataforma, oferecemos uma variedade de planos para atender às suas necessidades individuais. Cada plano é projetado para oferecer uma experiência única, permitindo que você escolha o que melhor se adapta aos seus objetivos. Veja os benefícios de cada plano:</p>
    </div>
    <div class="boxes">
        <div class="jr-box">

            <div class="box-title">
                <h2>Júnior</h2>
                <img src="../../assets/bronze-medal.png" alt="">
            </div>

            <div class="subtitle">
                <p class="sub-desc">Com este plano você poderá:</p>
            </div>

            <div class="list list-jr-pl">
                <ul>
                    <li>Acessar a nossa comunidade no Discord</li>
                    <li>Participar dos nossos desafios e compartilhar as suas respostas</li>
                </ul>
            </div>

            <div class="jr-sr">
                <div class="price">
                    <span>gratuito</span>
                </div>
    
                <div class="subscribe">
                    <button class="subs">assinar</button>
                </div>
            </div>
        </div>

        <div class="sr-box">

            <div class="box-title">
                <h2>sênior</h2>
                <img src="../../assets/gold-medal.png" alt="">
            </div>

            <div class="subtitle">
                <p class="sub-desc">Com este plano você poderá:</p>
            </div>

            <div class="list">
                <ul>
                    <li>Fazer tudo que o Pleno e Júnior fazem</li>
                    <li>Criar desafios personalizados e compartilhar respostas com a comunidade</li>
                    <li>Receber tutoria personalizada da nossa equipe de especialistas</li>
                </ul>
            </div>

            <div class="price">
                <span>R$ 19,99</span>
            </div>

            <div class="subscribe">
                <button class="subs-green">assinar</button>
            </div>
        </div>

        <div class="pl-box">

            <div class="box-title">
                <h2>pleno</h2>
                <img src="../../assets/silver-medal.png" alt="">
            </div>

            <div class="subtitle">
                <p class="sub-desc">Com este plano você poderá:</p>
            </div>

            <div class="list list-jr-pl">
                <ul>
                    <li>Fazer tudo que o membro Júnior pode fazer</li>
                    <li>Criar desafios personalizados e compartilhar respostas com a comunidade</li>
                </ul>
            </div>

            <div class="jr-sr">
                <div class="price">
                    <span>R$ 9,99</span>
                </div>
    
                <div class="subscribe">
                    <button class="subs">assinar</button>
                </div>
            </div>
        </div>

    </div>
</div>