<app-header></app-header>

<div class="body">
    <div class="title">
        <h1>Meu perfil</h1>
        <p class="first-description">Aqui você poderá visualizar os seus emblemas e certificados.</p>
    </div>

    <div class="badge-box">
        <div class="box-title">
            <h2>Fulano da Silva</h2>
            <hr>
        </div>
        
        <div class="classificacao">
            <div>
                <div class="badge-certificate">
                    <div class="badge-color bronze">
                        <img class="badge" src="../../assets/black-badge.png" alt="">
                    </div>
                    <h3>Desafio da comunidade | Cibersecurity</h3>
                    <button>baixar certificado</button>
                </div>
            </div>
    
            <div>
                <div class="badge-certificate">
                    <div class="badge-color prata">
                        <img class="badge" src="../../assets/black-badge.png" alt="">
                    </div>
                    <h3>Desafio da comunidade | Cibersecurity</h3>
                    <button>baixar certificado</button>
                </div>
            </div>
    
            <div>
                <div class="badge-certificate">
                    <div class="badge-color ouro">
                        <img class="badge" src="../../assets/black-badge.png" alt="">
                    </div>
                    <h3>Desafio da comunidade | Cibersecurity</h3>
                    <button>baixar certificado</button>
                </div>
            </div>

            

        </div>

    </div>    

    
</div>