<div class="header-inicial">
    <div class="company">
        <img src="./assets/logo-reduzido.png" class="logo-img">
        <p class="cia-name">Skillz</p>
    </div>
    <div class="search-bar">
        <form action="#" method="post">
            <input type="text" class="search-box-input lupa" name="busca" placeholder="Encontre o projeto ideal">
            
        </form>
    </div>
    <div class="buttons">
        <button class="btn-null">Acesse</button>
        <button class="btn-fill">Cadastro</button>
    </div>
</div>

<div class="body">
    <div>
        <h1>
            Eleve suas Skillz. Seja notado.
        </h1>
    </div>
    <div class="text-info">
        <span>
            Explore o conhecimento tecnológico mais atual com orientação especializada e feedback personalizado. Junte-se à nossa comunidade de aprendizes e desenvolva habilidades através de projetos práticos que fazem a diferença.
        </span>
    </div>
    <div class="body-button">
        <div>
            <button class="btn1">
                Teste grátis
            </button>
        </div>
        <div>
            <button class="btn2">
                Envie o seu projeto
            </button>
        </div>
    </div>
</div>